$btn-color: #fa3235be;
$color-primary: #25a34580;
$color-secondary: #06421580;
$btn-color-text: #fff;
$width: 120px;

.btn1{
  background-color: $btn-color;
  color: $btn-color-text;
  width: $width;
}
.btn2{
  background-color: $btn-color;
  color: $btn-color-text;
  width: $width;
}

.quadrado{
  width: 100px;
  height: 100px;
  background-color:$btn-color;
  color: $btn-color-text;
}


.classe1{
  ul{
    background-color: $color-primary;
  }
  li{
    background-color: $btn-color;
    padding: 10px 5px;
  }
  button{
    background-color: $color-primary;
    color: $btn-color-text;
    cursor: pointer;

    &:hover{
      background-color: $color-secondary;
      transition: 500ms
    }
  }
}