header{
    padding: 20px;
    background: #eee;
    border-radius: 10px;
}
header h1{
    font-weight: bold;
}
header h4{
    font-size: 20px;
}

.list{
    margin-top:10px;
    padding: 20px;
    background: #eee;
    border-radius: 10px;
}
.list li{
    color: green;
}
